$mobile: 375px;
$mobile_md: 576px;
$tablet: 768px;
$tablet_large: 1024px;
$laptop: 1366px;
$laptop-md: 1440px;

$mobile_max: 374px;
$mobile_md_max: 575px;
$tablet_max: 767px;
$tablet_large_max: 1023px;
$laptop_max: 1365px;
$laptop-md_max: 1439px;
