@use '../base/setup';
@use '../settings/spacing';
@use '../settings/font-weights' as fw;
@use '../settings/font-sizes' as fs;
@use '../tools/mixin';
@use '../tools/responsive';

.blog-post {
  width: 100%;

  @media (min-width: responsive.$mobile_md) {
    display: flex;
    flex-direction: column;
  }

  & &__image {
    @include mixin.aspectRatioImageWide();
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      @include mixin.animate(transform);
      @include mixin.coverImage();
      width: 100%;
    }
  }

  & &__body {
    background-color: setup.$light-background-color;
    padding: spacing.$xs calc(spacing.$xs + 2px);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  & &__date {
    color: rgb(setup.$accent-color);
  }

  & &__title {
    margin-bottom: 8px;

    &:hover {
      color: rgb(setup.$accent-color);
    }

    a {
      color: inherit;
    }
  }

  & &__link {
    font-size: fs.$size-xxs;
    font-weight: fw.$medium;
    color: setup.$base-text-color;

    @media (min-width: responsive.$mobile_md) {
      margin-top: auto;
    }

    &:hover {
      color: rgb(setup.$accent-color);
    }
  }
}
