@use '../base/setup';
@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-sizes' as fz;
@use '../settings/font-weights' as fw;
@use '../tools/mixin';

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  padding: spacing.$xxs spacing.$s;
  font-size: fz.$size-s;
  font-family: setup.$base-font-family;
  cursor: pointer;
  @include mixin.animate(background-color color opacity);

  &.button--fullwidth {
    width: 100%;
  }

  &.button--text {
    padding: spacing.$xxxs spacing.$xs;
  }

  &.button--small {
    padding: spacing.$xxs spacing.$xs;
    font-weight: fw.$bold;
  }

  &.button--medium {
    padding: spacing.$xs spacing.$l;
    font-weight: fw.$bold;
  }

  &.button--primary {
    color: colors.$white;

    &.button--contained {
      background: rgb(setup.$accent-color);

      &:hover {
        opacity: 0.7;
      }
    }

    &.button--outline {
      color: setup.$accent-color;
      border: 2px solid setup.$accent-color;

      &:hover {
        color: colors.$white;
        background: setup.$accent-color-hover;
      }
    }
  }
}
