@use '../base/setup';
@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-sizes' as fz;
@use '../tools/mixin';
@use '../tools/responsive';

.contact-banner {
  position: relative;

  padding-top: spacing.$m;
  padding-bottom: spacing.$m;
  // background-color: setup.$accent-color;
  background: rgba(70, 163, 88, 0.1);

  & &__container {
    @media (min-width: responsive.$tablet) {
      display: flex;
      align-items: center;
    }
  }

  & &__logo {
    @media (max-width: setup.$header-nav-breakpoint-max) {
      max-width: 120px;
    }

    @media (max-width: responsive.$tablet_max) {
      max-width: 100px;
      margin-bottom: 10px;
    }

    @media (min-width: responsive.$tablet) {
      margin-right: 30px;
    }

    @media (min-width: responsive.$tablet_large) {
      margin-right: 88px;
    }
  }

  & &__list {
    @include mixin.listreset();
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    align-items: baseline;
  }

  & &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      @media (max-width: responsive.$tablet_max) {
        margin-bottom: 10px;
        margin-right: 20px;
      }
    }

    &:nth-child(1) {
      // margin-right: 36px;

      @media (min-width: responsive.$tablet) {
        margin-right: 40px;
      }

      @media (min-width: responsive.$tablet_large) {
        margin-right: 66px;
      }
    }

    &:nth-child(2) {
      // margin-right: 74px;

      @media (min-width: responsive.$tablet) {
        margin-right: 40px;
      }

      @media (min-width: responsive.$tablet_large) {
        margin-right: 74px;
      }
    }
  }

  & &__list-icon {
    margin-right: 10px;
    color: setup.$accent-color;
  }

  & &__list-address {
    max-width: 170px;
    width: 100%;
    color: setup.$base-text-color;
    font-size: fz.$size-xxs;
    line-height: fz.$lh-xl;
  }

  & &__list-link {
    max-width: 200px;
    width: 100%;
    color: setup.$base-text-color;
    font-size: fz.$size-xxs;
    line-height: fz.$lh-xl;

    &:hover {
      color: setup.$accent-color;
    }
  }
}
