@use '../base/setup';
@use '../settings/font-sizes' as fz;
@use '../settings/spacing';

.footer {
  &__copyright {
    p {
      margin-bottom: 0;
      color: setup.$base-text-color;
      font-size: fz.$size-xxs;
    }
  }
}
