@use '../base/setup';
@use '../settings/font-sizes' as fz;

.footer-nav {
  & &__title {
    font-size: calc(fz.$h6-medium + 1px);
  }

  & &__list-link {
    color: setup.$base-text-color;
    font-size: fz.$size-xxs;

    &:hover {
      color: setup.$accent-color;
    }
  }
}
