@use '../base/setup';
@use '../settings/font-weights' as fw;
@use '../settings/font-sizes' as fz;
@use '../settings/colors';
@use '../settings/spacing';
@use '../tools/mixin';
@use '../tools/responsive';

.footer-bottom {
  background-color: setup.$light-background-color;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);

  & &__title {
    font-size: calc(fz.$h6-medium + 1px);
  }

  & &__social-media {
    margin-bottom: 14px;

    .social-media__item {
      border-radius: 4px;
      border: 1px solid rgba(70, 163, 88, 0.2);
    }
  }
}
