@use '../base/setup';
@use '../settings/font-sizes' as fz;
@use '../settings/spacing';
@use '../settings/colors';
@use '../tools/mixin';

.product {
  & &__image {
    position: relative;
    margin-bottom: 12px;
    display: block;
    @include mixin.aspectRatioImageSquare();
    overflow: hidden;
    background-color: setup.$light-background-color;

    &:hover {
      .product__buttons-bar {
        transform: translateY(0);
      }
    }

    img {
      @include mixin.animate(transform);
      @include mixin.coverImage();
      width: 100%;
    }
  }

  & &__buttons-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    @include mixin.animate(transform);
  }

  & &__button {
    width: 36px;
    height: 36px;
    background-color: setup.$base-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    color: setup.$base-text-color;
    border-radius: 4px;

    &:hover {
      svg {
        path {
          fill: rgb(setup.$accent-color);
        }
      }
    }
  }

  & &__discount {
    background-color: rgb(setup.$accent-color);
  }

  & &__title {
    a {
      color: inherit;
    }

    &:hover {
      color: rgb(setup.$accent-color);
    }
  }

  & &__price {
    font-size: fz.$size-m;
  }

  & &__old-price {
    color: setup.$text-color-light;
  }
}
