@use '../base/setup';
@use '../settings/font-weights' as fw;
@use '../settings/font-sizes' as fz;
@use '../settings/colors';
@use '../settings/spacing';
@use '../tools/mixin';

.social-media {
  &__title {
    font-size: calc(fz.$h6-medium + 1px);
  }

  &__list {
    @include mixin.listreset();

    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    margin-bottom: 10px;
  }
}
