@use '../settings/colors';
@use '../settings/spacing';
@use '../settings/font-weights' as fw;
@use '../settings/font-sizes' as fz;
@use '../tools/responsive';

$base-font-family: 'Cera Pro';
$base-font-heading: 'Cera Pro';

$heading-color: var(--text-color-base) !default;
$heading-font-weight: fw.$bold !default;
$heading-line-height: fz.$lh-m !default;

$base-text-color: var(--text-color-base) !default;
$text-color-light: var(--text-color-light) !default;
$text-color-medium: var(--text-color-medium) !default;

$base-background-color: var(--bg-page) !default;
$light-background-color: var(--bg-light) !default;
$base-link-color: var(--accent-color) !default;

$base-link-hover-color: rgba(var(--accent-color), 0.5) !default;

$accent-color: var(--accent-color) !default;
$accent-color-hover: rgba(var(--accent-color), 0.7) !default;

$font-size-base: fz.$size-s !default;
$line-height-base: fz.$lh-m !default;

$container-width: 1200px;
$padding-container: spacing.$m;
$column-gap: calc(spacing.$s - 2px);

$animation-speed: 0.3s;

$header-nav-breakpoint-min: responsive.$tablet_large;
$header-nav-breakpoint-max: responsive.$tablet_large - 1px;
