@use './setup.scss';
@use '../tools/mixin.scss';

a {
  color: rgb(setup.$base-link-color);
  text-decoration: none;

  @include mixin.animate(color background-color);

  &:not([class]) {
    &:hover,
    &:focus {
      color: setup.$base-link-hover-color;
    }
  }
}

a[href*='mailto:'] {
  word-wrap: break-word;
}
