$white: #ffffff;
$black: #3d3d3d;

$green: #46a358;

$grey-light: #acacac;
$grey-medium: #727272;

$gold: #ffac0c;

$primary-color: $green;

:root {
  --bg-page: #{$white};
  --text-color-base: #{$black};
  --text-color-light: #{$grey-light};
  --text-color-medium: #{$grey-medium};
  --link-color: #{$primary-color};
  --accent-color: #{$primary-color};
}
