$white: #ffffff;
$black: #3d3d3d;
$beige: #fbfbfb;

$green: 70, 163, 88;

$grey-light: #acacac;
$grey-medium: #727272;

$gold: #ffac0c;

$primary-color: $green;

:root {
  --bg-page: #{$white};
  --bg-light: #{$beige};
  --text-color-base: #{$black};
  --text-color-light: #{$grey-light};
  --text-color-medium: #{$grey-medium};
  --link-color: #{$primary-color};
  --accent-color: #{$primary-color};
}
