$h1-mobile: 30px;
$h2-mobile: 30px;
$h3-mobile: 28px;
$h4-mobile: 24px;
$h5-mobile: 20px;
$h6-mobile: 17px;

$h1-medium: 70px;
$h2-medium: 30px;
$h3-medium: 28px;
$h4-medium: 24px;
$h5-medium: 20px;
$h6-medium: 17px;

$lh-s: 1;
$lh-m: 1.2;
$lh-l: 1.4;
$lh-xl: 1.5;

$size-xxl: 28px;
$size-xl: 24px;
$size-l: 20px;
$size-m: 18px;
$size-s: 16px;
$size-xs: 15px;
$size-xxs: 14px;
$size-xxxs: 13px;
